/* my star */
.my-star {
    position: relative;
}

.my-star::before{
    content: " ";
    display: block;
    width: 100px;
    height: 2px;
    position: absolute;
    top: 50%;
    right: 10%;
    background-color: var(--primary-text-color);
}
.my-star::after{
    content: " ";
    position: absolute;
    display: block;
    width: 100px;
    height: 2px;
    top: 50%;
    left: 10%;
    background-color: var(--primary-text-color);
}

.third-section .my-star::after, .third-section .my-star::before,
.fifth-section .my-star::after, .fifth-section .my-star::before {
    background-color: var(--secondary-text-color);
}
/* circle link */

.my-circle{
    height: 1.875rem;
    width: 1.875rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: .0625rem solid var(--primary-text-color);
}