/* sixth-section */

.sixth-section span{
    color: var(--primary-background-color);
    font-weight: bold;
}


/* seventh-section */
.seventh-section{
    background-color: var(--secondary-background-color)
}
