/* header */
header{
    background-color: var(--primary-background-color);
}

/* first-section */
.first-section, .sixth-section{
    background-color: var(--third-background-color);
}
.first-section ul, .sixth-section ul{
    display: flex;
    list-style: none;
    margin:0;
}
.first-section ul li, .sixth-section ul li {
    padding: 0rem 1rem;
}
.first-section ul li a, .sixth-section ul li a{
    text-decoration: none;
    color: var(--primary-text-color);
}
/* second-section */
.second-section img{
    width: 50%;
}