/* third-section */

.third-section img{
    border-radius: 1rem;
}
.third-section{
    color: var(--secondary-text-color);
}
/* fourth-section */

.fourth-section{
    background-color: var(--primary-background-color);
}

/* fifth-section */
.fifth-section{
    color: var(--secondary-text-color);
}
