/* my style project */
img{
    width: 100%;
}

/* container */

.my-container-header{
    max-width: 400px;
    margin: auto;
}

main > section{
    margin-bottom: 3rem;
}
/* header */
header{
    background-color: #1abc9c;
}
body{
    color: white;
}
/* first-section */
.first-section, .sixth-section{
    background-color: #3a546d;
}
.first-section ul, .sixth-section ul{
    display: flex;
    list-style: none;
    margin:0;
}
.first-section ul li, .sixth-section ul li {
    padding: 0rem 1rem;
}
.first-section ul li a, .sixth-section ul li a{
    text-decoration: none;
    color: white;
}
/* second-section */
.fourth-section{
    background-color: #1abc9c;
}
.second-section img{
    width: 50%;
}
/* third-section */

.third-section > row:not(:first-child) [class*="col-"]{
    background-color: #ba4b63;
}
.third-section img{
    border-radius: 1rem;
}
.third-section{
    color: black;
}

/* fifth-section */

.fifth-section{
    color: black;
}
/* seventh-section */
.seventh-section{
    background-color: #2c3e50;
}
